body{

    margin: 0px;

}



main{

    margin-left: 20px;

    margin-right: 20px;

}



h1{

    text-align: center;

}



.navbar{

    background-color: hsl(182, 45%, 28%);
    font-family: 'Courier New', Courier, monospace;
}


.navbar ul{

    list-style: none;

    padding: 0px;

    margin: 0px;

    display: inline-flex;



}



.navbar a{

    color: white;

    text-decoration: none;

    padding: 15px;

    display: block;

    text-align: center;



}



.navbar a:hover{

    background-color: hsl(0, 0%, 10%);

}

html{
    background-color: rgb(122, 246, 184);
}

div {
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
    display: grid;
    place-items: center;
}

h1 {
    font-family: 'Courier New', Courier, monospace;
}