body{

    margin: 0px;

}



main{

    margin-left: 20px;

    margin-right: 20px;

}



h1{

    text-align: center;

}



.navbar{

    background-color: hsl(136, 48%, 16%);
    font-family: 'Courier New', Courier, monospace;
    list-style-type: none;
}


.navbar ul{

    list-style: none;

    padding: 0px;

    margin: 0px;

    display: block;



}



.navbar a{

    color: rgb(0, 176, 0);

    text-decoration: none;

    padding: 15px;

    display: block;

    text-align: center;

    font-family: 'Courier New', Courier, monospace;


}



.navbar a:hover{

    background-color: hsl(120, 7%, 9%);

}

html{
    background-image: linear-gradient(to left, rgb(0, 51, 0), green);
}

div {
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
    display: grid;
    place-items: center;
    color:rgb(0, 176, 0)
}

h1 {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(0, 176, 0);
}

.games-list {
    list-style-type: none;
}

#secret-link {
    position: fixed;
    bottom: 5px;
    right: 5px;
    font-size: 50px;
    color: rgba(0, 176, 0, 0.15); /* almost background */
    text-decoration: none;
    user-select: none;
}

#secret-link:hover {
    color: rgba(0, 176, 0, 0.6); /* slightly visible on hover */
}
